spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    # druid 相关配置
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      # 基本属性
      url: jdbc:mysql://localhost:3306/transaction_demo?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
      username: root
      password: 123456

# 整合 mybatis
mybatis:
  mapper-locations: classpath:mapper/*.xml  # 注意：一定要对应 mapper 映射xml文件的所在路径
  type-aliases-package: com.fatal.entity   # 注意：对应实体类的路径
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
